div(layout='row', layout-align='center center')
    h4 {{text.title}}

md-list(ng-cloak='')
    md-subheader.md-no-sticky {{ text.menuHead }}
    md-list-item(ng-repeat='item in subject', ng-click='listItemClick()')
        md-icon(md-svg-icon='{{item.icon}}')
        p {{item.name}}
